*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    margin: 0;
}

body {
min-height: 100vh;
flex-direction: column;
display: flex;
}

.main-content{
    flex: 1 0 auto;
    padding-top: 180px;
}



.headerEDDRP{
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;
    height: 180px;
    color: aliceblue;
    align-items: center;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: 1fr auto 1fr;
}

.logo{
    font-size: 2.5rem;
    
    text-align: center;
    margin: auto;
    
    font-weight: bold;
    text-align: center;
    
}


    


.nav{
    text-align: right;
    font-size: 1.5rem;
    margin-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.nav a {
    text-decoration: none;
    color: aliceblue;
    margin-left: 20px;
}

.img1{
    
    margin: 25px;
    height: 600px;
    height: 22vw;
    

}

.img2{

    margin: 25px;
    height: 600px;
    height: 22vw;
    

}

.img3{
    margin: 25px;
    height: 62vw;

}

.img4{
    height: 30vw;
    
}

.img5{
    height: 30vw;
    

}



.text1{
    font-size: 1.2vw;
    height: 600px;
    border: 1px solid black;
    margin: 25px;
    padding: 20px;
    height: 22vw; 

    
}

.Home{
    display: flex;
    justify-content: center;
    

}

.info{
    display: flex;
    justify-content: center;
}

.info2{
    margin: 25px;
    justify-content: center;
}

.text2{
    font-size: 3vw;
    border: 1px solid black;
    padding: 20px;
    
}

.text3{
    margin-top: 40px;
    font-size: 3vw;
    border: 1px solid black;
    padding: 20px;
    
}

.text4{
    position: absolute;
    bottom: 0;
    color: aliceblue;
    font-size: 4vw;
    padding: 10px;
    font-weight: bold;
    width: 600px;
}

.text5{
    position: absolute;
    
    top: 0;
    color: aliceblue;
    font-size: 4vw;
    padding: 10px;
    font-weight: bold;
    width: 600px;
}

.podbor{
    display: flex;
    justify-content: center;
    gap: 25px;
    position: relative;
    margin-top: 60px;
    
}

.COLLECTIONS{
    text-align: center;
    margin-top: 70px;
    font-size: 1vw;
}

.carusel{
    display: flex;
    
    margin-top: 100px;
    margin: 0 auto;
    width: 60vw;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    
}

.carusel-imges{
    scroll-snap-align: center;
    
}





.carusel-nav{
    display: flex;
    text-decoration: none;
    color: black;
    width: 840px;
    
}

.carusel-nav a{
    color: black;
    text-decoration: none;
}

.footer{
    width: 100vw;
    background-color: black;
    margin-top: 150px;
}

.About-container{
    display: flex;
    gap: 70px;
    
    
    
}



.About{
    padding: 100px;
    width: 500px;
    
}

.About h1{
    color: aliceblue;
    font-size: 2vw;
    
    
}



.About2{
    color: aliceblue;
    width: 100px;
    padding: 100px;
}

.About2 a{
    font-size: 2vw;
}

.About3 a{
    font-size: 2vw;
}

.About3{
    color: aliceblue;
    width: 100px;
    padding: 100px;

}

.Button-nav{
    display: flex;
     flex-direction: column;
     gap: 30px;
     font-size: 30px;
     
}

.Button-nav a{
    direction: none;
    text-decoration: none;
    color: aliceblue;
}

.SALE{
    display: flex;
    justify-content: space-between;
    margin: 25px;
    background-color: black;
    margin: 0;
    padding: 0;
    margin-top: 50px;

}

.SALE img{
    margin: 25px;
    height: 50vw;
}

.SALE1{
    justify-content: center;
    color: aliceblue;
    height: 50vw;
    width: 90vw;
    font-size: 2.8vw;
    padding: 20px;
    margin: 25px;
    border: 1px solid white;
}

.left{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    font-size: 50px;
    margin-left: 30px;

}

.right{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: none;
    font-size: 50px;
    margin-right: 30px;
}

.carusel-button{
    display: flex;
    justify-content: center;
}

